body {
    background-color: #1e1c24
}

#url-holder {
    opacity: .4;
    background-color: #3b5672;
    color: #5cb85c;
    font-size: 20px;
    text-align: center;
}

#url-holder::selection {
    background: #000;
    color: #ffffff;
}

#title-text {
    color: #249D7F;
}

#title-text::selection {
    color: #fff;
    background-color: #3b5672;
}

#iframe-view-loader {
    border: 0px;
    width: 100%;
}

#navbar {
    background: inherit;
}

#container {
    margin-top: 75px;
}

#alerts .alert {
    margin: 15px 0;
}
#alerts .alert > p {
    font-size: 20px;
}